<!DOCTYPE html>
<html lang="en-us">
  <head>
    {% load staticfiles %}
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}"
          rel="stylesheet">
    <link href="{% static 'bootstrap/css/bootstrap-theme.min.css' %}"
          rel="stylesheet">
    <link href="{% static 'css/index.css'%}" rel="stylesheet">
    <meta charset="UTF-8">
    <title>ParkIt: We help you spot a spot!</title>
  </head>
  <body>
    <div class="page-header row">
      <div class="text-center">
        <h1><a href="/lotview/">ParkIt</a></h1>
      </div>
    </div>
    <div class="row maininfo">
      <p class="text-center">There are {{ spots_remaining }}
        spots remaining</p>
    </div>
  </body>
</html>
